* {
    color: rgb(240, 240, 240);
    background-color: rgb(14, 14, 14);
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
}

body {
    max-width: 100%;
    padding-top: 0%;
    margin: 0;
}

#video_container {
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0 auto;
}

#side_bar {

}

video {
    display: block;
    margin: 0 auto;
}

#player_grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    gap: 10px;
    width: 100vw;
    padding-top: 5rem;
}

nav {
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 80px;
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 5%, rgba(35,15,61,1) 36%, rgba(58,6,62,1) 100%); 
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.0);
}

nav ul li {
    display: inline;
    float: left;
    background: rgba(0,0,0,0.0);
}

nav ul li a {
    text-decoration: none;
    background: rgba(0,0,0,0.0);
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: #111;
    background: rgba(0,0,0,0.0);
}

#search {
    border: none;
    margin-top: 10px;
    float: right;
    font-size: 17px;
    margin-left: 16px;
    background: rgba(12, 12, 12, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 30px;
    text-indent: 10px;
}

#logo {
    float: right;
    padding-right: 18px;
    padding-top: 10px;
}
